
/* Fonts */
@font-face{
  font-family: Sabon;
  src: url(fonts/Sabon/Sabon.woff);
}

@font-face{
  font-family: SabonItalic;
  src: url(fonts/Sabon/Sabon-Italic.woff);
}

/* Colors */
body 
{
  background: url("../img/bkgd-landing.jpg") no-repeat 50% 0;
  background-size:100%; 
  background-attachment:fixed;
  font-family: "UniversLTW01-47LightCn";
}

section.container
{
  background: #ffffff;
}
 header 
{
  background: #000;
  color:#fff;
  padding: .5em;
 }
 header h1, header h2, header h3
 {
  margin:10px 0;
  color: #10181d;
 }
 header #icon 
 {
	 background-repeat:no-repeat;
 		height:28px;
		width:28px;
		background-size:cover;
 }
 
 footer #AD
{
	height:25px;
	widgth:25px;
}

 header h2 
    {
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Sabon LT W01 Roman'
    }

  .iosSlider img
  {
    width: 100%;
    height:100%;
  }
 
 aside 
{
  position: relative;
  margin-top: -4em;
  margin-right: 1em;
  z-index: 2;
 }

#careerbox
{
  background-color:#F7F7F7;;
  color: #2ba4ff;
  border:25px solid #f7f7f7;
  border-radius:25px;
  font-family:12px"Univers";
  font:32px;
}

careerbox #h3
{
	font-size:32px;
	font-style:none;
	color:#000;
	font-family:"UniversLTW01-39ThinUltr";
}


header #icon
{
	background-image:url(../img/militaryimage.png);
}

h1
{
  font-size:126px;
  font-family: 'UniversLTW01-39ThinUltr';
  text-transform: uppercase;
  color:#dbc32d;
}

h1 span
{
	font-wight:bold;
	text-transform:uppercase;
}

.line-height {
  line-height: 2em;
  margin-bottom: 36px;
}

h2
{
  font-size:15px;
  font-weight:bold;
  text-transform:uppercase;
  margin:10px 0 0; 
  color:#000;  
  font-family:'UniversLTW01-67BoldCn';
}

header h3, header a
{
  font-style: normal;
}

h3
{
  font-size:32px;
  padding: .5em 0;
  color:#000000;
  font-family:'UniversLTW01-39ThinUltr';
  margin:1px 0;

}

h3 span
{
	text-transform:none;
	color:#dbc32d;
}

h4
{
  font-size:16px;
  padding: 0px 5px 0px 5px;
  text-align:left;
  color:#000000;
  font-family:'Univers';
}

h5
{
  font-size:16px;
  font-family: "UniversLTW01-67BoldCn";
  font-weight:bold;
  text-transform: uppercase;
}

h6
{
  text-align: center;
  font-size: 12px;
  font-family:"UniversLTW01-47LightCn";
}

#launchbox
{
  border-radius: 7px;
  -webkit-borderr-radius:7px;
  -moz-border-radius:7px;
  margin-top: 1em;
  background: #5fb9fd;
}


#launchbox #comp 
{
  max-height:none;
  margin: -3em 0 0 4em;
  position: relative; 
  z-index: 2;
}

#launchbox #comp
{
	align-content:center;
}

#careerbox ul
{
  margin-left:-20px;
  color:#000;
}

ul li
{
    padding:5px 0;
}

ul li p
{
  color:#000000;
  font:12px;
  text-transform:uppercase;
  letter-spacing:1;
  padding:0px;
  margin:0px;
  font-family: "UniversLTW01-53Extended";
}

p
{
  font:16px;
  font-family: "UniversLTW01-47LightCn";
  
}


 header h2 #college 
    {
    text-transform:none;
    font-size:17px; 
    font-family:'Sabon LT W01 Italic';
    }


header h3, header a, header a:visited, header a:hover 
{
    text-decoration: none;
    text-transform:none;
    color: #FFF;
    font-size: 15px;
    font-family:'Univers LT W01 75 Black';
	padding:10px;
} 


form
{
  background: #000;
}

 footer 
{
  background: #000;
  color:#fff;
  padding:.5em;
  position:center;
  text-align:center;
  font-size:10px;
  margin-top:30px;
}