
/* Fonts */
@font-face{
  font-family: Sabon;
  src: url(fonts/Sabon/Sabon.woff);
}

@font-face{
  font-family: SabonItalic;
  src: url(fonts/Sabon/Sabon-Italic.woff);
}

/* Colors */
body 
{
  background: url("../img/bkgd-landing.jpg") no-repeat 50% 0;
  background-size:100%; 
  background-attachment:fixed;
  font-family: "UniversLTW01-47LightCn";
}

section.container
{
  background: #ffffff;
}
 header 
{
  background: #000;
  color:#fff;
  padding: .5em;
 }
 header h1, header h2, header h3
 {
  margin:10px 0;
  color: #ffffff;
 }
 header #icon 
 {
	 background-repeat:no-repeat;
 		height:28px;
		width:28px;
		background-size:cover;
 }
 
 footer #AD
{
	height:25px;
	widgth:25px;
}

 header h2 
    {
    color: #ffffff;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Sabon LT W01 Roman';
	font-weight:bold;
    }
	
.col-md-6 col-lg-7 col-sm-5 h2 
    {
    color: #ffffff;
    font-size: 21.5px;
    text-transform: uppercase;
    font-family: 'UniversLTW01-67BoldCn';
	padding:0px 0px 0px 15px;
    }
	
  .iosSlider img
  {
    width: 100%;
    height:100%;
  }
 
 aside {
  position: relative;
  margin-top: -4em;
  margin-right: 1em;
  z-index: 2;
 }


careerbox #h3
{
	font-size:32px;
	font-style:none;
	color:#000;
	font-family:"UniversLTW01-39ThinUltr";
}


h1
{
  font-size:126px;
  font-family: 'UniversLTW01-39ThinUltr';
  text-transform: uppercase;
  color:#dbc32d;
	padding:0px 0px 0px 10px;
}

h2
{
  font-size:21px;
  text-transform:uppercase;
  margin: 0px 0px 0px 15px; 
  color:#000000;  
  font-family:'UniversLTW01-67BoldCn';
}

.program h2 {
	 font-size:15px;
  font-weight:bold;
  text-transform:uppercase;
  margin:10px 0 0; 
  /* color:#000000;  */
  font-family:'UniversLTW01-67BoldCn';
  color:#c7b230;
}

.line-height
{
	font-size:16px;
	padding-right:15px;
	line-height:30px;
	padding:10px 0px 0px 15px;
}


header h3, header a
{
  font-style: normal;
}

h3
{
  font-size:13px;
  padding: .5em 0;
  color:#000000;
  font-family: 'UniversLTW01-47LightCn';
  margin:1px 0;
  font-style:italic;

}

h3 span
{
	text-transform:none;
	color:#e3d583;

}

h4
{
  font-size:16px;
  padding: 0px 0px 0px 15px;
  margin:.7em 0 1em 0;
  text-align:left;
  color:#000000;
  font-family: "UniversLTW01-67BoldCn";
}

h5
{
  font-size:15px;
  font-family: "UniversLTW01-67BoldCn";
  text-align: center;
  text-transform: uppercase;
}

h6
{
  text-align: center;
  font-size: 12px;
  font-family:"UniversLTW01-47LightCn";
}

#launchbox
{
  border-radius: 7px;
  -webkit-borderr-radius:7px;
  -moz-border-radius:7px;
  margin-top: 1em;
  background: #5fb9fd;
}


#launchbox #comp 
{
  max-height:none;
  margin: -3em 0 0 4em;
  position: relative; 
  z-index: 2;
}

#launchbox #comp
{
	align-content:center;
}

#careerbox ul
{
  margin-left:-20px;
  color:#000;
}

ul li
{
    padding:5px 0;
}

ul li p
{
  color:#000000;
  font:12px;
  text-transform:uppercase;
  letter-spacing:1;
  padding:0px;
  margin:0px;
  font-family: "UniversLTW01-53Extended";
}

p
{
  font:16px;
  font-family: "UniversLTW01-47LightCn";
  
}


 header h2 #college 
    {
    text-transform:none;
    font-size:17px; 
    font-family:'Sabon LT W01 Italic';
    }


header h3, header a, header a:visited, header a:hover 
{
    text-decoration: none;
    text-transform:none;
    color: #FFF;
    font-size: 15px;
    font-family:'Univers LT W01 75 Black';
	padding:10px;
} 


form
{
  background: #000;
}

 footer 
{
  background:#000;
  color:#fff;
  padding:2.5em;
  position:center;
  text-align:center;
  font-size:10px;
  margin-top:30px;
 }
 
#formbox
{
  background: #000;
  width: 100%;
  margin-bottom: 3em;
  text-transform:uppercase;
  border-radius:10px;
}

#formbox h3 {
	color:#FFF;
	font-family:"UniversLTW01-39ThinUltr";
	text-align:center;
	margin:.3em 0;
	font-size:32px;
  	padding: .5em 0;
  	margin:1px 0;	text-transform:none;
}

#formbox h3 span 
{
	
	font-family:'Univers LT W01 75 Black';
	color:#3fadff;
}

#animation h2
{
color:#ed1c24;
}

#film h2 
{
color:#5cb4f6;	
text-transform:uppercase;
}

#game-production h2
{
color:#25b622;	
}

#computer-animation h2
{
color:#f3b517;	
}

#mp h2
{
color:#cf1d6c;	
}

#entertainment-business h2
{
color:#a487da;	
text-transform:uppercase;
}